.fadeEnter {
  opacity: 0;
}

.fadeEnterActive {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.fadeExit {
  opacity: 1;
}

.fadeExitActive {
  opacity: 0;
  transition: opacity 200ms ease-out;
}

.CardHeader {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 30px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(183, 185, 232, 1) 60%, rgba(160, 162, 210, 1));
  padding: 0.4rem;
}

.CardBody {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  padding: 1rem;
  height: 100%;
  border-bottom: 1px solid #f2f2f2;
}

.CardSection {
  width: 100%;
}

.CardSectionHeader {
  margin-bottom: 10px;
  font-size: 1.4rem;
  color: #999ba0;
}

.CardSectionData {
  font-size: 1.4rem;
}

.CardAction {
  background-color: #f6f6f6;
}

.Darken {
  color: #585858;
}

@media (min-width: 500px) {
  .Section {
    width: 50%;
  }
}
