.AccountSwitch {
  padding-top: 16px;
  color: #999ba0;
  font-size: 1.6rem;
}

.AccountSwitch a {
  text-decoration: none;
  font-weight: 500;
  padding: 1rem 0;
  display: inline-block;
}

.AccountSwitch a:hover {
  text-decoration: underline;
}
